@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&display=swap');

#container{
    border: 1px solid black;
    width: 350px;
    padding: 20px;
    text-align: center;
    margin: 5% auto;
    background: #CCC;
    color: #fff;
    background: linear-gradient(to bottom, #ddd, #888);
    font-family: 'Exo 2', sans-serif;

}

#input{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-top: none;
    margin: 20px 0;
    margin-top: 0;
    background-color: black;
    color:rgb(76, 155, 76);
    line-height: 100px;
    font-size: 40px;
    font-family: 'Exo 2', sans-serif;

    
}
#historico{
    width: 100%;
    height: 25px;
    border: 1px solid black;
    padding-top: 5px;
    border-bottom: none;
    background-color: black;
    color:rgb(76, 155, 76);
    font-size: 25px;
    text-align: end;
    font-family: 'Exo 2', sans-serif;


}
#operadores-superior{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding:0;

}
#numerais{
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#operadores-lateral{
    width: 21%;
    

}

.operador{
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    margin:7px 3px;
    font-size: 25px;
    background: #333;
    background: linear-gradient(to bottom, #222, #777);
    box-shadow: 1px 4px 5px #555;
    cursor: pointer;

}
.btn{
    width: 75px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    margin:7px 3px;
    font-size: 25px;
    /* background: #000; */
    background: linear-gradient(to bottom, #555, #000);
    box-shadow: 1px 4px 5px #555;
    cursor: pointer;
    

    

}